#navbar {
    z-index: 1040;
}
#side-nav {
    margin-top: 45px !important;
}

#double-nav .breadcrumb-dn p {
    color: #fff;
}

@media (min-width: 1200px){
    .fixed-sn main {
        margin-left: 20% !important;
        margin-right: 20% !important;
    }
}